<section class="photberry_form_section">

	<h5>We&rsquo;ll make metal work for you!</h5>

	<div class="photberry_form_block">

		<form 
			class="photberry_form" 
			action="https://formspree.io/{{ site.email }}"
			method="POST"
			target="_blank">
			
			<input 
				type="text" 
				class="form_user-name" 
				name="_subject" 
				placeholder="Subject" />

			<textarea 
				required="required" 
				class="form_comment" 
				name="message" 
				placeholder="Message"></textarea>

			<input 
				required="required"
				type="text" 
				class="form_user-name" 
				name="name" 
				placeholder="Name" />

			<input 
				required="required"
				type="text" 
				class="form_email" 
				name="_replyto" 
				placeholder="Email">

			<input 
				type="text" 
				name="_gotcha" 
				style="display:none" />

			<input 
				type="hidden" 
				name="_next" 
				value="{{ site.url }}/thanks" />

			<input type="submit" value="Send Message" />

		</form>

	</div>

</section>