<header class="photberry_header">
					
	<div class="photberry_logo_cont">
		<a href="/" class="photberry_image_logo">                        
		</a>
	</div>
	<nav class="photberry_menu_cont" style="height: 604px;">
		{% include menuBuilder.html %}
	</nav>

	{% include header_footer.html %}
	
</header>

<a href="javascript:void(0)" class="photberry_menu_btn">
	<span class="photberry_menu_icon">
		<i class="fa fa-bars"></i>
	</span>	
</a>	

<header class="photberry_mobile_header">

	<div class="photberry_mobile_header_container">

	<div class="photberry_logo_cont">
		<a href="/" class="photberry_image_logo">                        
		</a>
	</div>

	<nav class="photberry_menu_cont">
		{% include menuBuilder.html %}
	</nav>

	{% include header_footer.html %}
		
	</div>
	<a href="javascript:void(0)" class="photberry_mobile_menu_btn">
		<span class="photberry_menu_icon">
			<i class="fa fa-bars"></i>
		</span>	
	</a>
</header>